<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
			<add name="Default"
				 connectionString="server=SIMON_PC\SQLEXPRESS;Integrated security=yes;
					Database=CarCheck ;TrustServerCertificate=true"
				 providerName="System.Data.SqlClient"/>
		</connectionStrings>
</configuration>